<div class="container scoreboard">
  <div class="row">
    <div class="col-xs-4">
      <span>Team 1</span>
      <input placeholder="score..." ng-model="vm.t1s"
             ng-style="{color:vm.t1s[0]=='-'?'red':''}">
    </div>
    <div class="col-xs-4">
      <span>Team 2</span>
      <input placeholder="score..." ng-model="t2s"
             ng-style="{color:vm.t2s[0]=='-'?'red':''}">
    </div>
    <div class="col-xs-4">
      <span>Team 3</span>
      <input placeholder="score..." ng-model="t3s"
             ng-style="{color:vm.t3s[0]=='-'?'red':''}">
    </div>
  </div>
</div>
<div ng-if="vm.gameIndex === -1">
  <button ng-click="vm.next()">Start First Game</button>
</div>

<div class="container gameboard" ng-if="vm.gameIndex > -1">
  <div class="row">
    <div class="category col-xs-2" ng-repeat="cat in vm.games[vm.gameIndex].categories">
      <h4 class="question">{{cat.name}}</h4>
      <div class="question"
           ng-repeat="question in cat.questions"
           ng-click="vm.advance(question)">
	<span
	   class="value"
	   ng-show="question.show == 'value'">
	  ₪{{question.value}}
	</span>
	<span
	   class="text"
	   ng-show="question.show == 'text'">
	  {{question.text}}
	</span>
	<span
	   class="answer"
	   ng-show="question.show == 'answer'">
	  {{question.answer}}
	</span>
      </div>
    </div>
  </div>
  <button ng-click="vm.prev()">prev</button>
  <button ng-click="vm.next()">next</button>

  <div class="fodal" ng-class="vm.currentState + '-fodal'" ng-click="vm.modalClick()">
    <div>
      {{vm.modalText}}
    </div>
  </div>
</div>

<div class="audio-row">
  <audio controls id="final-j-audio">
    <source src="assets/audio/final-jeopardy.mp3" type="audio/mpeg"/>
    Your browser does not support the audio element.
  </audio>
  <audio controls id="dd-j-audio">
    <source src="assets/audio/daily-double-jeopardy.mp3" type="audio/mpeg"/>
    Your browser does not support the audio element.
  </audio>
  <audio controls id="start-j-audio">
    <source src="assets/audio/start-jeopardy.mp3" type="audio/mpeg"/>
    Your browser does not support the audio element.
  </audio>
</div>
