<div class="container">
  <div class="row">
	<div class="col-xs-4" ng-repeat="cat in vm.categories">
		<img src="assets/images/yeoman.png" alt="I'm a goddamned faggot cocksucker">
		<h1>{{cat.title}}</h1>
		<p ng-repeat="question in cat.questions">
			<span
				ng-click="vm.goTo(question, 'text')"
				ng-show="question.show =='value'">
				{{question.value}}
			</span>
			<span
				ng-show="question.show == 'text'"
				ng-click="vm.goTo(question,'answer')">
				{{question.text}}
			</span>
			<span ng-show="question.show == 'answer'">
				{{question.answer}}
			</span>
		</p>
	</div>
  </div>
</div>
