.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

.question {
  height:100px;
  width:100%;
  background-color: blue;
  color : orange;
  font-size: 30px;
  margin : 6px;
  overflow: hidden;
  
  span {
    display:block;
  }
  
  span.value {
    width:70px;
    height:30px;
    margin:0 auto;
    padding-top:25px;
    
  }
  span.text {
    width:90%;
    font-size:22px;
    margin:0 auto;
    
  }
  span.answer {
    width:90%;
    font-size:22px;
    margin:0 auto;
  }
}

.gameboard {
  margin:0;
  width:100%;

  h3 {
    height:100px;
    margin:0;
  }
}

.scoreboard {
  height:50px;
  width:100%;
  margin:0;
}